@font-face {
    font-family: "Lora", "Roboto", "Merriweather";
    font-weight: 200px;
    font-style: normal;
    src: local('Lora', 'Roboto', 'Merriweather'), url( "http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjogp9Q8gbYrhqGlRav_IXfk.woff2") format('woff2');
}

body {
  display: block;
  background-color: #F2F1E8;
  width: 95vw;
  height: 100vh;
}

img {
  height: 20vh;
  top: 0;
  position: fixed;
  z-index: 2;
  zoom: .3;
  margin: 1vw 0vh 0vw 1vh;
  color: black;
}

.navbar {
  top: 0;
  position: fixed;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 95vw;
  height: 7vh;
}

.navigation {
  text-transform: uppercase;
  margin-top: 1.8vh;
  display: flex;
  justify-content: space-between;
  width: 35vw;
  height: 3.7vh;
}

.home {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  color: #2B2F26;
}

.home:hover {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  color: #CD5D67;
}

.home:active {
  text-decoration: underline;
  font-style: normal;
  duration: 100s;
  font-family: sans-serif;
  color: #968772;
}

a.about {
  text-decoration: none;
  font-family: sans-serif;
  color: #2B2F26;
}
.about:hover {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  color: #CD5D67;
}

.about:active {
  text-decoration: underline;
  font-style: normal;
  font-family: sans-serif;
  color: #968772;
}

a.newsletter {
  text-decoration: underline;
  font-style: normal;
  duration: 100s;
  font-family: sans-serif;
  color: #968772;
}

.newsletter:hover {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  color: #CD5D67;
}

.newsletter:active {
  text-decoration: underline;
  font-style: normal;
  duration: 100s;
  font-family: sans-serif;
  color: #968772;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  background-image: url(background-2.jpg);
  background-size: cover;
}

.main-section {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
  padding: 2rem 0 0 0;
}

.sub-section {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
  padding: 0 0 0 0;
}

fieldset {
  border-style: none;
  background-color: white;
  width: 500px;
  height: 400px;
}

.Fieldy-Field {
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.entry-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 190%;
}

.entry-fields1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.entry-fields2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.entry-fields input {
  color: lightgray;
  font-size: 20px;
  margin-top: 8px;
  height: 40px;
  width: 550px;
  margin-bottom: 8px;
}

.field3 {
  width: 110%;
  display: flex;
  justify-content: space-around;
}

.field4 {
  display: flex;
  flex-flow: column;
}

button {
  border-style: none;
  font-size: 15px;
  background-color: #968772;
  color: #F2F1E8;
  height: 50px;
  width: 100px;
}

button:hover {
  border-style: none;
  font-size: 15px;
  background-color: #967343;
  color: #FFFFFF;
  height: 50px;
  width: 100px;
}

.outerfieldset {
  margin-left: 10%;
  width: 80%;
}

form {
  width: 90%;
}

input {
  border-style: none;
  border-bottom: solid medium #968772;
}

input:focus {
  color: #968772;
  border-color: none;
  border-style: none;
  border-bottom: solid medium #967343;
}
