@font-face {
    font-family: "Lora", "Roboto", "Merriweather";
    font-weight: 9.5vh;
    font-style: normal;
    src: local('Lora', 'Roboto', 'Merriweather'), url( "http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjogp9Q8gbYrhqGlRav_IXfk.woff2") format('woff2');
}

h4 {
  padding: 0vh;
  margin: 1.17vw 0vh 0vw 0vh;
  font-family: 'Merriweather';
  font-weight: lighter;
  font-size: 25px;
}

p {
  font-size: 17px;
  font-family: 'Merriweather';
  line-height: 19px;
}

blockquote {
  margin-bottom: 10px;
  font-size: 15px;
}

.asidetext {
  font-family: 'Merriweather';
  font-size: 15px;
  line-height: 15px;
  font-weight: 45;
}

body {
  background-color: #F2F1E8;
  width: 100vw;
  height: 160vh;
}
}
.outside-container{
  width: 100vw;
  height: 160vh;
  display: flex;
  flex-direction: column;
}

img {
  height: 85px;
  position: fixed;
  zoom: .5;
  z-index: 2;
  margin: -38 0vh 2 1;
  color: black;
}

.navbar {
  position: fixed;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 95vw;
  height: 55px;
}

.navigation {
  margin-top: 12px;
  text-transform: uppercase;
  zoom: 1;
  display: flex;
  justify-content: space-between;
  width: 35vw;
  height: 3.7vh;
}

.home {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  color: #2B2F26;
}

.home:hover {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  color: #CD5D67;
}

.home:active {
  text-decoration: underline;
  font-style: normal;
  font-family: sans-serif;
  color: #968772;
}

a.about {
  text-decoration: underline;
  font-style: normal;
  font-family: sans-serif;
  color: #968772;
}

.about:hover {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  color: #CD5D67;
}

.about:active {
  text-decoration: underline;
  font-style: normal;
  font-family: sans-serif;
  color: #968772;
}

a.newsletter {
  text-decoration: none;
  font-family: sans-serif;
  color: #2B2F26;
}

.newsletter:hover {
  text-decoration: none;
  font-style: normal;
  font-family: sans-serif;
  color: #CD5D67;
}

.newsletter:active {
  text-decoration: underline;
  font-style: normal;
  font-family: sans-serif;
  color: #968772;
}

.header {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F1E8;
  height: 200px;
  width: 100vw;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  background-color: #F2F1E8;
  width: 62.54vw;
  height: 7.1vh;
}

.bodyp1 {
  margin-top: -35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F1E8;
  height: 30vh;
  width: 100vw;
}

.dedicated {
  color: none;
  text-decoration-color: none;
  text-decoration: none;
  text-decoration-style: none;
  color: #968772;
}

.dedicated:hover {
  color: none;
  text-decoration-color: none;
  text-decoration: none;
  text-decoration-style: none;
  color: #967343;
}

.content1 {
  background-color: #F2F1E8;
  width: 500px;
  height: 23vh;
  padding-bottom: 10px;
}

.image1 {
  margin-right: 1vh;
  top: 0;
  float: left;
  background-image: url(birdhouse.jpg);
  background-size: cover;
  height: 11vh;
  width: 13.29vw;
}

.bodyp2 {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F1E8;
  height: 23vh;
  width: 100vw;
}

.content2 {
  margin-top: -10px;
  margin-bottom: 10px;
  background-color: #F2F1E8;
  width: 500px;
  height: 13vh;
}

#bottom {
  border-style: none;
}

.divider {
  margin-top: 45px;
  font-size: 7.75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(background-3.jpg);
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  color: white;
  height: 16.5vh;
  width: 100vw;
}

.bodyp3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F2F1E8;
  height: 23vh;
  width: 100vw;
}

.content3 {
  background-color: #F2F1E8;
  height: 15.9vh;
  width: 500px;
}

.aside1 {
  margin-left: 1.5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  background-color: #F2F1E8;
  width: 12vw;
  height: 14.87vh;
}

.asideimage {
  background-image: url(background-1.jpg);
  background-size: cover;
  height: 9vh;
  width: 10vw;
}

.asidecontent {
  margin-left: 4.75vh;
  background-color: #F2F1E8;
  height: 6.175vh;
  width: 15.63vw;
}

.asidetext {
  line-height: 2vh;
  font-size: 1.65vh;
}

.table {
  margin-left: -3vh;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F1E8;
  height: 12vh;
  width: 100vw;
}

.tablecontent {
  margin-top: 10vh;
  margin-left: -3.8vh;
  background-color: #F2F1E8;
  height: 18vh;
  width: 56.29vw;
}

table {
  margin-top: 3vh;
  height: 40px;
}

tr {
  font-size: 12px;
}

.td1 {
  background-color: #efe6d5;
}

.container-footer {
  position: absolute;
  margin-top: 135px;
  font-family: 'Lora';
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #333333;
  color: #F2F1E8;
  width: 100vw;
  height: 50px;
}

.insidefooter {
  margin-left: 1.18vh;
  width: 500px;
}
